/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos del encabezado */
.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
}

/* Logo */
.encabezado img {
    height: 50px;
}

/* Menú */
.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}

/* Ícono de menú (solo visible en móviles) */
.menu-icon {
    display: none;
    font-size: 28px;
    color: gray;
    cursor: pointer;
}



/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .menu {
        display: none; /* Oculta el menú en móviles */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(255, 255, 0);
        width: 200px;
        padding: 10px;
    }

    .menu a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    /* Muestra el menú cuando esté activo */
    .menu.active {
        display: flex;
    }
}

/* Banner */
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    position: relative;
}


